@model WoW_Guild_Tools.Models.Raider

@{
    ViewData["Title"] = "Delete";
}

<dl>
    <dt>
        @Html.DisplayNameFor(model => model.Name)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.Name)
    </dd>
    <dt>
        @Html.DisplayNameFor(model => model.Race)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.Race)
    </dd>
    <dt>
        @Html.DisplayNameFor(model => model.Class)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.Class)
    </dd>
    <dt>
        @Html.DisplayNameFor(model => model.Spec)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.Spec)
    </dd>
    <dt>
        @Html.DisplayNameFor(model => model.Role)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.Role)
    </dd>
    <dt>
        @Html.DisplayNameFor(model => model.Rank)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.Rank)
    </dd>
    <dt>
        @Html.DisplayNameFor(model => model.Profession1)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.Profession1)
    </dd>
    <dt>
        @Html.DisplayNameFor(model => model.Profession2)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.Profession2)
    </dd>
    <dt>
        @Html.DisplayNameFor(model => model.Main)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.Main.Name)
    </dd>
</dl>

<form asp-action="Delete">
    <input type="hidden" asp-for="Id" />
    <input type="submit" value="Delete" class="btn btn-danger" /> |
    <a asp-action="Index">Back to List</a>
</form>
