@model WoW_Guild_Tools.Models.Raider

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Raider</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Race)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Race)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Class)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Class)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Spec)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Spec)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Role)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Role)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Rank)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Rank)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Profession1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Profession1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Profession2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Profession2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Main)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Main.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
