@model IEnumerable<WoW_Guild_Tools.Models.Raider>

@{
    ViewData["Title"] = "Roster";
}

@*<h1>Roster</h1>*@
<section class="roster">
    <header class="roster__header">
        <h2 class="roster__title">Mains</h2>
        <a class="roster__add-raider button button--success button--icon" asp-action="Create">
            Add new raider
        </a>
    </header>
    <article class="table-container">
        <table class="roster__mains table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Race)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Class)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Spec)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Role)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Rank)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Profession1)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Profession2)
                    </th>
                    @*<th>
                            @Html.DisplayNameFor(model => model.Main)
                        </th>*@
                    <th>Options</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Race)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Class)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Spec)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Role)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Rank)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Profession1)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Profession2)
                        </td>
                        @*<td>
                                @Html.DisplayFor(modelItem => item.Main.Name)
                            </td>*@
                        <td>
                            <div class="roster__options">
                                <a class="button icon-button button--warning roster__btn--edit" asp-action="Edit" asp-route-id="@item.Id" aria-label="Edit"></a>
                                @*<a asp-action="Details" asp-route-id="@item.Id">Details</a> |*@
                                <a class="button icon-button button--danger roster__btn--delete" asp-action="Delete" asp-route-id="@item.Id" aria-label="Delete"></a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </article>
</section>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}